.product-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center; }

.product1 {
  background-image: url("../product_pics/pillow.jpg"); }

.product2 {
  background-image: url("../product_pics/pots.jpg");
  background-position: right; }

.product3 {
  background-image: url("../product_pics/generic_decor.jpg"); }

.product {
  margin-top: 70px; }
