/* GENERAL */
ul, li {
  list-style: none;
  margin: 0; }

a, p, span, h1, h2, h3, h4, h5, h6, body {
  font-family: "Roboto", sans-serif; }

h1 {
  margin: 10px; }

a {
  color: #ff5c00; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.card-image {
  height: 200px;
  background-size: cover;
  background-position: center; }

/* HEADER */
/* Desktop Menu */
.top-menu {
  width: 40%;
  margin-top: 20px; }
  .top-menu .search-bar {
    margin-left: 10px; }

.nav-bar {
  margin-top: 10px;
  margin-left: 30px; }

.logo-container {
  width: 150px;
  margin-right: 10px; }
  .logo-container img {
    width: 100%; }

.nav-menus {
  width: 100%;
  background: #75bf4c; }
  .nav-menus li {
    margin-right: 30px; }
  .nav-menus a {
    color: #fff; }
  .nav-menus .main-menu {
    width: 60%; }
  .nav-menus .secondary-menu {
    width: 40%; }

.print-header {
  display: none; }

.hero-container {
  margin-top: 50px;
  margin-bottom: 100px; }

.hero-image-contact {
  height: 350px;
  background-image: url("../images/contact-hero.jpg");
  background-size: cover;
  background-position: 50% 50%; }

.mobile-menu {
  width: 200px;
  opacity: 0.9;
  background: linear-gradient(354deg, #f660e9 0%, #6056c6 80%);
  height: 60vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s;
  transform: translate(0px, 0px);
  z-index: 100;
  display: none; }

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

.mobile-menu li a {
  padding: 0;
  color: #fff;
  width: 80%; }

.mobile-menu li:hover {
  background: #d8d8d841; }

.closed {
  transform: translate(500px, 0px); }

#close-button {
  background: transparent;
  border: none; }

#close-button i {
  color: #fff; }

#hamburger-button {
  display: none;
  background: transparent;
  border: none; }

#hamburger-button i {
  color: #ff5c00; }

#hamburger-button i:hover {
  color: #3f3f3f; }

@media screen and (max-width: 600px) {
  .mobile-menu {
    display: block; }
  .nav-bar, .nav-menus, .main-menu, .secondary-menu {
    display: none; }
  #hamburger-button {
    display: block;
    color: #ff5c00; } }

.card {
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 1px 5px 0px #acacac; }
  .card h2 {
    font-weight: 100;
    color: #75bf4c; }
  .card .artist1 {
    background-image: url("../images/artist1.jpg"); }
  .card .artist2 {
    background-image: url("../images/artist2.jpg"); }
  .card .artist3 {
    background-image: url("../images/artist3.jpg"); }
  .card p {
    color: #222;
    font-size: 1em; }
  .card a {
    font-size: 0.8em; }

.blog-container {
  margin-top: 50px; }
  .blog-container h1 {
    color: #75bf4c;
    font-weight: 100; }
  .blog-container .blog-image {
    background: url("../images/cat.jpg");
    height: 200px;
    background-size: cover;
    background-position: center; }
  .blog-container a {
    color: #a26000; }
  .blog-container p {
    margin-top: 25px;
    line-height: 1.3em;
    color: #444444; }
  .blog-container h5 {
    margin-top: 10px; }

#contact-page {
  text-align: center;
  margin-bottom: 100px; }

#contact-page .main-content h1 {
  margin-bottom: 50px;
  color: #75bf4c;
  font-family: "Roboto", sans-serif; }

#contact-page .main-content p {
  margin-bottom: 50px;
  color: #505050;
  font-family: "Roboto", sans-serif;
  padding: 0 150px;
  line-height: 1.2em; }

.product {
  margin-top: 20px;
  background: #fff;
  padding: 15px 20px;
  color: #75bf4c;
  box-shadow: 0px 1px 5px 0px #acacac; }
  .product h2 {
    font-weight: 100; }
  .product a {
    color: #75bf4c; }
  .product a:hover {
    text-decoration: none; }

.share-icons i {
  margin-left: 10px;
  color: #ff5c00; }

.product-summary {
  margin-top: 25px;
  color: #222; }
  .product-summary span {
    font-size: 0.8em;
    color: #ff5c00; }

.product-summary h4 {
  color: #75bf4c;
  font-weight: 100;
  margin-bottom: 0; }

#small-home-decor {
  font-family: "Roboto", sans-serif; }

.subtitle h1 {
  font-size: 3em;
  font-weight: 100;
  color: #75bf4c; }

.product-image {
  height: 200px;
  background-size: cover;
  background-position: center; }

.product1 {
  background-image: url("../images/pillow.jpg"); }

.product2 {
  background-image: url("../images/pots.jpg");
  background-position: right; }

.product3 {
  background-image: url("../images/generic_decor.jpg"); }

.img-wallart {
  background-image: url("../images/wall-art.jpg"); }

.img-smhomedecor {
  background-image: url("../images/sm-home-decor.jpg"); }

.img-lghomedecor {
  background-image: url("../images/lg-home-decor.jpg"); }

.img-furniture {
  background-image: url("../images/furniture.jpg"); }

.img-indigenous {
  background-image: url("../images/indigenous-art.jpg"); }

.img-pet {
  background-image: url("../images/pet.jpg"); }

footer {
  margin-top: 70px;
  margin-bottom: 20px; }

.footer-container .social-icons-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20em; }
  .footer-container .social-icons-container i {
    color: #ff5c00; }

.footer-container .footer-menu {
  width: 100%;
  background: #75bf4c;
  padding: 10px; }
  .footer-container .footer-menu a, .footer-container .footer-menu span {
    color: #fff; }

.footer-container li {
  margin-right: 20px; }

@media screen and (max-width: 600px) {
  .footer-menu {
    font-size: 0.65em; }
  .footer-container {
    align-items: center; } }

@media screen and (max-width: 750px) {
  .footer-container i {
    margin-right: 15px; } }

@media print {
  .product-image,
  .card-image,
  .blog-image,
  .share-icons i,
  header,
  footer {
    display: none; }
  .print-header {
    display: flex; }
  a[href^=http]:after {
    font-style: italic;
    content: " < " attr(href) " > "; }
  @page {
    margin: 2cm; }
  body {
    width: 100%;
    margin: 0;
    padding: 0; } }
