// SOCIAL ICONS
footer {
    margin-top: 70px;
}
.footer-container {

    .social-icons-container {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        padding:0 20em;

        i {
            color:$secondary-color;
        }
    }

    .footer-menu {
        width:100%;
        background: $main-color;

        a,span {
            color:#fff;
        }
    }
    li {
        margin-right:20px;
    }
}