 /* HEADER */
  /* Menu */
  .header-container {
      padding: 20px;
  }
  .menu li {
      margin-right: 50px;
  }
  .nav-menus {
      width:100%;
      background: #75bf4c;
  }
  .main-menu {
      width: 60%;
  }
  
  .seconday-menu {
      width:40%;
  }

   