// HERO!!


.hero-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
.hero-image-contact{
    height: 350px;
    background-image: url('../images/contact-hero.jpg');
    background-size: cover;
    background-position: 50% 50%;
}