// FEATURED ARTIST
.card {
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0px 1px 5px 0px #acacac;

    h2 {
        font-weight: 100;
        color: $main-color;
    }
    .artist1 {
        background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
    }
    .artist2 {
        background-image: url('https://images.unsplash.com/photo-1505058567159-6f2a114a1a70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1629&q=80');
    }
    .artist3 {
        background-image: url('https://images.unsplash.com/photo-1484190929067-65e7edd5a22f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    }
}

//BLOG OF THE MONTH
.blog-container {
    margin-top: 50px;
    
    h1 {
        color: $main-color;
        font-weight: 100;
    }
    .blog-image {
        background: url('../images/cat.jpg');
        height: 200px;
        background-size: cover;
        background-position: center;
    }
}