.product {
    margin-top: 20px;
    background: #fff;
    padding: 15px 20px;
    color: $main-color;
    box-shadow: 0px 1px 5px 0px #acacac;

    h2 {
        font-weight: 100;
    }

    a {
        color: $main-color;
    }

    a:hover {
        text-decoration: none;
    }
}

.share-icons i {
    margin-left: 10px;
    color: $accent-color;
}
.product-summary {
    margin-top: 25px;
    color: $secondary-color;
}
.product-summary h4 {
    color: $main-color;
    font-weight: 100;
}
#small-home-decor {
    font-family: $main-type;
}
.subtitle h1 {
    font-size: 4em;
    font-weight: 100;
    color: $main-color;
}

// Product Images
.product-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}
.product1 { background-image: url('../images/pillow.jpg'); }

.product2 {
    background-image: url('../images/pots.jpg');
    background-position: right;
}

.product3 { background-image: url('../images/generic_decor.jpg'); }

.img-wallart { background-image: url('../images/wall-art.jpg'); }
.img-smhomedecor { background-image: url('../images/sm-home-decor.jpg'); }
.img-lghomedecor { background-image: url('../images/lg-home-decor.jpg'); }
.img-furniture { background-image: url('../images/furniture.jpg'); }
.img-indigenous { background-image: url('../images/indigenous-art.jpg'); }
.img-pet { background-image: url('../images/pet.jpg'); }
